.home-inner-backgroundImg {
    background-image: url('../../public/assets/img/banner-home-1.jpg');
}
.inner-backgroundImg {
    background-image: url('../../public/assets/img/bg/services-bg.jpg');
}
.packageinner-backgroundImg {
    background-image: url('../../public/assets/img/bg/pattern_bg_2.jpg');
}
